/* ====================CSS Reset======================= */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;font-family: "Microsoft Yahei";}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}

html, body{
    height: 100%;
    overflow: hidden;
}
body{
    background: #011e3f url(../img/loading.gif) center no-repeat;
    background-size: 29px 5px;
}
.view{
    width: 100%;
    height: 100%;
    -webkit-transition: margin-top 0.3s ease;
    /*margin-top: -1008px;*/
}
.md{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #011e3f no-repeat;
    background-size: cover;
}
.md .next_page{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -18px;
    background: url(../img/arrow_up.png) center no-repeat;
    background-size: cover;
    width: 37px;
    height: 30px;
    -webkit-animation: bottom_dir 0.5s 0 linear both infinite alternate;
}
@-webkit-keyframes bottom_dir {
    100% {
        bottom: 20px
    }
}
.md_page_one{
    background-image: url(../img/bg_1.jpg);
}
.md_page_one .main{
    height: 416px;
    position: relative;
    top: 50%;
    margin-top: -208px;
    /*-webkit-transform:scale(1.5);*/
}
.md_page_one .quote{
    position: relative;
    width: 160%;
    margin-left: -30%;
    height: 198px;
    background: rgba(1,23,64,0.6) center no-repeat;
    background-size: 320px 198px;
}
.md_page_one .quote_jack{
    background-image: url(../img/quote_jack.png);
    margin-bottom: 20px;
}
.md_page_one .quote_steve{
    background-image: url(../img/quote_steve.png);
}

.md_page_two{
    background-image: url(../img/bg_1.jpg);
    text-align: center;
}
.md_page_two .main{
    height: 424px;
    position: relative;
    top: 50%;
    margin-top: -212px;
    /*-webkit-transform:scale(1.5);*/
}
.md_page_two .logo{
    background: url(../img/logo.png);
    background-size: cover;
    width: 245px;
    height: 140px;
    margin: 0 auto 15px;
    position: relative;
}
.md_page_two .logo h1{
    text-indent: -999em;
}
.md_page_two .logo .tencent{
    background: url(../img/tencent.png) center no-repeat;
    background-size: cover;
    width: 79px;
    height: 43px;
    position: absolute;
    left: 2px;
    top: 0;
}
.md_page_two .logo .eye{
    background: url(../img/eye.png) center no-repeat;
    background-size: cover;
    width: 48px;
    height: 43px;
    position: absolute;
    left: 162px;
    top: 45px;
}
.md_page_two .demand{
    position: relative;
    margin: 0 auto 15px;
    background: url(../img/demand.png) center no-repeat;
    background-size: cover;
    width: 219px;
    height: 76px;
}
.md_page_two .checks{
    position: relative;
    top: 21px;
}
.md_page_two .check{
    background: url(../img/check.png) center no-repeat;
    background-size: cover;
    width: 17px;
    height: 18px;
}
.md_page_two .reward{

}
.md_page_two .reward_detail{
    background: rgba(1,23,64,0.6);
    width: 180%;
    margin-left: -40%;
}
.md_page_two .reward_detail .text{
    background: url(../img/reward.png) center no-repeat;
    background-size: cover;
    width: 320px;
    height: 100px;
    margin: 0 auto 15px;
}
.md_page_two .gifts{
    width: 280px;
    margin: 0 auto 15px;
}
.md_page_two .gifts li{
    display: inline-block;
}
.md_page_two .gift{
    margin: 0 8px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #f5bf4f;
    width: 70px;
    height: 55px;
}
.md_page_two .gift_one{
    background-image: url(../img/gift.jpg);
    background-position: 0 0;
}
.md_page_two .gift_two{
    background-image: url(../img/gift.jpg);
    background-position: 0 -55px;
}
.md_page_two .gift_three{
    background-image: url(../img/gift.jpg);
    background-position: 0 -110px;
}

.md_page_three{
    background: url(../img/bg_2.jpg) center no-repeat;
    background-size: cover;
}
.md_page_three .main{
    position: relative;
    height: 440px;
    top: 50%;
    margin-top: -220px;
}
.md_page_three .tips{
    width: 187px;
    height: 57px;
    margin: 0 auto 10px;
}
.md_page_three .tip{
    background: center no-repeat;
    background-size: cover;
    width: 187px;
    height: 19px;
}
.md_page_three .tip_one{
    background-image: url(../img/tip_1.png);
}
.md_page_three .tip_two{
    background-image: url(../img/tip_2.png);
}
.md_page_three .tip_three{
    background-image: url(../img/tip_3.png);
}
.md_page_three .person{
    background: url(../img/person.png) center no-repeat;
    background-size: cover;
    width: 320px;
    height: 304px;
    margin: 0 auto;
}
.md_page_three .answer{
    display: block;
    background: url(../img/answer.png) center no-repeat;
    background-size: cover;
    width: 110px;
    height: 32px;
    margin: 0 auto 10px;
}
.md_page_three .reward_tips{
    background: url(../img/reward_tip.png) center no-repeat;
    background-size: cover;
    width: 248px;
    height: 27px;
    margin: 0 auto;
}

#eye{
    -webkit-animation-duration: .75s;
    -webkit-animation-delay: .25s;
}
#check_one{
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: .75s;
}
#check_two{
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 1s;
}
#check_three{
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 1.25s;
}
#reward_detail{
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: 1.5s;
}
.gift{
    -webkit-animation-duration: 1.25s;
    -webkit-animation-delay: 1.75s;
}
#tip_one{
    -webkit-animation-duration: .5s;
}
#tip_two{
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .25s;
}
#tip_three{
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .5s;
}
#answer{
    -webkit-animation-duration: .75s;
    -webkit-animation-delay: .75s;
}
#reward_tips{
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: 1.25s;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 500px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 500px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 500px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 500px),
only screen and (                min-resolution: 192dpi) and (min-width: 500px),
only screen and (                min-resolution: 2dppx)  and (min-width: 500px) {
    .md .main{
        -webkit-transform:scale(1.4);
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-height: 480px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-height: 480px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-height: 480px),
only screen and (        min-device-pixel-ratio: 2)      and (max-height: 480px),
only screen and (                min-resolution: 192dpi) and (max-height: 480px),
only screen and (                min-resolution: 2dppx)  and (max-height: 480px) {
    .md .main{
        -webkit-transform:scale(0.8);
    }
}
